body, div, p, ul, li {
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: rgb(212, 226, 180);
}

.content {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;

}

.logo {
    background-color: rgb(144, 221, 150);
    padding-top: 5px;
    position: page;
}

.fotorot {
    background-color: rgb(144, 221, 150);
    margin-left: 50px;
    margin-right: 809px;
    font-family:'Javanese Text';
    font-size: 20px;
}

.contentLogo {
    background-color: rgb(144, 221, 150);
    height: 35px;
}

